@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600;700&family=Noto+Serif:wght@400;700&family=Oswald:wght@300;400;500;700&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
   
}


body {
    position: relative;  
    width: 100%;

}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    /* background-color: #1d1b31; */
    background-image: linear-gradient( 105.5deg,  rgba(31,212,248,1) 11%, rgba(218,15,183,1) 74.9% );
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 240px;
}

.sidebar.active .logo_content .logo {
    opacity: 1;
    pointer-events: none;
}

.sidebar .logo_content .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.logo_content .logo i {
    font-size: 20px;
    margin-right: 5px;
}
.logo_content img {
    padding-top: 10px;
    height: 60px;
    width: 55px;
    border-radius: 12px;
    
}

.logo_content .logo .logo-name {
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    left: 90%;
    top: 6px;
    left: 50%;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%);
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar ul {
    margin-top: 20px;
} 

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}


.sidebar ul li input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background-color: #1d1b3181;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}

.sidebar ul li .bx-search {
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
    transition: all 0.5 ease;
}

.sidebar ul li .bx-search:hover {
    background-color: #fff;
    color: #1d1b31;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 12px;
    white-space: nowrap;
} 
.sidebar ul li a:hover {
    color: #11101d;
    background-color: #fff;
}

.sidebar ul li i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar .profile_content {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}
.sidebar .profile_content .profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background-color: #1d1b3181;
    transition: all 0.4s ease;
}

.sidebar.active .profile_content .profile {
    background-color: #1d1b3181;
}

.profile_content .profile .profile_details {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
}

.profile .profile_details .logout_div {
    margin-left: 10px;
}

.profile .profile_details .logout {
    font-size: 15px;
    font-weight: 400;
    padding-top: 10px;
}


.profile #log_out {
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    background-image: linear-gradient( 105.5deg,  rgba(31,212,248,1) 11%, rgba(218,15,183,1) 74.9% );
}

.sidebar.active .profile #log_out {
    left: 88%;
}

.sidebar.active .profile #log_out {
    background: none;
}

.home_content {
    position: absolute;
    height: auto;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.sidebar.active ~ .home_content {
    width: calc(100% - 240px);
    left: 240px;
}


/*************************/

.event {
    
}

#front-page {
    background:#000;
    height: 80vh;
  }
  .cater3-movingBG {
      height: 100%;
      background-image: url('https://www.fsg.org/wp-content/uploads/2021/08/arms2.jpg');
      
      background-repeat: repeat-x;
      animation: animatedBackground 15s linear alternate infinite;
  }
  
  @keyframes animatedBackground {
      0% { background-position: 0 0; }
      50% { background-position: 50% 0; }
      100% { background-position: 0 0; }
  }
  
  .flyinTxtCont {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      padding-bottom: 10%;
        margin-left: 2em;
  }
  .flyIn {
      color:#fff;
      font-family:'Raleway';
      text-transform:uppercase;
      line-height:1.2em;
      position:relative;
    text-shadow: 2px 2px 40px rgba(0,0,0,0.7);
  }
  .lineOne {
    transition-delay:.2s; 
    transition:.4s ease in;
    animation: txtFlyIn .3s linear;
  }
  .lineTwo {
      transition-delay:.4s; 
      transition:.6s ease in;
      animation: txtFlyIn .6s linear;
  }
  .lineThree {
      transition-delay:.6s; 
      transition:.8s ease in;
      animation: txtFlyIn .9s linear;
  }
  .lineOne, .lineTwo, .lineThree {
      font-size: 70px;
      font-weight: bold;
      letter-spacing: 3px;
    }
  .lineFour {
      transition-delay:2s; 
      transition:2s ease in;
      animation: fadeIn 2s linear;
      width: 100%;
      background-color:rgba(255,255,255,0.9);
      display:inline-block;
      color:#000;
      box-sizing: border-box;
      max-width: 63%;
      max-width: 22em;
      font-size: 28px;
      padding: .2em .5em;
      margin-top: 30px;
  }
  @keyframes fadeIn{
      0% { opacity:0;}
      100% { opacity:1;}
  }
  @keyframes txtFlyIn{
      0% { transform:translateX(-100%); }
      100% { transform:translateX(0%); }
  }

/********************/
 #front-page .text-front {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

 #front-page .text-front h1 {
    font-size: 60px;
    margin-bottom: 2px;
    color: #fff;
}

.container #front-page .text-front p {
    color: rgb(165, 42, 42)
}

 #front-page .text-front button {
    width: 100px;
    padding: 7px 15px;
}

 #second-section {
   display: grid;
   grid-auto-flow: column;
   grid-template-columns: repeat(3, 200px);
   justify-content: center;
   gap: 30px;
   padding: 90px;
   background-color: rgb(255, 255, 255);
}


 #second-section > div {
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


 #second-section .webinar {
    background-color: rgba(135, 207, 235, 0.397);
}

 #second-section .conference {
    background-color: rgba(235, 135, 213, 0.322);
}
 #second-section .seminar {
    background-color: rgba(162, 11, 182, 0.199);
}


#upcoming-event {
    background: rgb(245,245,245);
    padding: 40px;
    padding-top: 20px;
    
}

#upcoming-event .title-upcoming-event {
    text-align: center;
    font-size: 30px;
    padding: 30px;
    color: rgba(233,30,99,1);
}



#upcoming-event .timeline {
	position: relative;
	margin: 50px auto;
	padding: 40px 0;
	width: 1000px;
}
#upcoming-event .timeline:before
{
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	width: 2px;
	height: 100%;
	background: #c5c5c5;
}
#upcoming-event .timeline ul
{
	margin: 0;
	padding: 0;
}
#upcoming-event .timeline li
{
	list-style: none;
	position: relative;
	width: 50%;
	padding: 20px 40px;
	box-sizing: border-box;
}
#upcoming-event .timeline .content img {
    width: 100%;
    max-height: 225px;
}

#upcoming-event .timeline li .content {
	padding-bottom: 30px;
}

#upcoming-event .timeline li:nth-child(odd)
{
	float: left;
	clear: both;
	text-align: right;
}
#upcoming-event .timeline li:nth-child(odd):before
{
	content: '';
	position: absolute;
	top: 24px;
	right: -6px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: rgba(233,30,99,1);
	box-shadow: 0 0 0 3px rgba(233,30,99,0.2);
}
#upcoming-event .timeline li:nth-child(even)
{
	float: right;
	clear: both;
	text-align: left;
}
#upcoming-event .timeline li:nth-child(even):before
{
	content: '';
	position: absolute;
	top: 24px;
	left: -4px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: rgba(233,30,99,1);
	box-shadow: 0 0 0 3px rgba(233,30,99,0.2);
}
#upcoming-event .timeline li h3
{
	margin: 0;
	padding: 0;
	font-weight: 600;
	color: rgba(233,30,99,1);
}
#upcoming-event .timeline li p
{
	margin: 10px 0 0;
	padding: 0;
}
#upcoming-event .timeline li .time h4
{
	margin: 0;
	padding: 0;
	font-size: 14px;
}
#upcoming-event .timeline li:nth-child(odd) .time
{
	position: absolute;
	top: 12px;
	right: -165px;
	margin: 0;
	padding: 8px 16px;
	background: rgba(233,30,99,1);
	color: #fff;
	border-radius: 18px;
	box-shadow: 0 0 0 3px rgba(233,30,99,.2);
}
#upcoming-event .timeline li:nth-child(even) .time
{
	position: absolute;
	top: 12px;
	left: -165px;
	margin: 0;
	padding: 8px 16px;
	background: rgba(233,30,99,1);
	color: #fff;
	border-radius: 18px;
	box-shadow: 0 0 0 3px rgba(233,30,99,.2);
}


/****************/

#all-events {
    padding: 25px;
    background: url('./images/gender.jpg');
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    color: rgb(146, 6, 60);
}

#all-events .title {
    text-align: center;
    padding: 25px;
    font-size: 25px;
    padding-bottom: 60px;
    
}


.event-tiles {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-template-columns: repeat(3, 230px);
    gap: 50px;
}
.event-tiles > div {
    border: 1px solid transparent;
    height: 90%;
    position: relative;
    background-color: #fff;
}

.event-tiles img {
    height: 65%;
    width: 100%;
}

.event-tiles .text {
    height: 25%;
    width: 100%;
    padding: 10px;

}

.event-tiles .text p {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}

.event-tiles .text h5 {
    margin: 0;
    font-size: 20px;
}

.view-full-list {
    display: flex;
    justify-content: center;
}

.view-full-list button {
    padding: 5px 15px;
    
}

#browse-by-category {
    padding: 80px;
    padding-top: 20px;
    background-color: #fff;
}
#browse-by-category .browse-title {
    text-align: center;
    padding: 60px;
    padding-top: 15px;
    color: rgba(233,30,99,1);
    font-size: 25px;
}

#browse-by-category .browse-category-tiles {
    display: grid;
    justify-content: center;

    grid-auto-flow: column;
    grid-template-columns: repeat(5, 100px);
    gap: 30px;
}
#browse-by-category .browse-category-tiles p {
    text-align: center;
    color: rgba(233,30,99,1);
}

#browse-by-category .browse-category-tiles i {
    text-align: center;
    width: 100%;    
    border-radius: 10px;
    padding: 10px;
    font-size: 50px;
}

#browse-by-category .browse-category-tiles .date i {
    background-color: papayawhip;
}

#browse-by-category .browse-category-tiles .name i {
    background-color: rgba(135, 207, 235, 0.397);
}
#browse-by-category .browse-category-tiles .theme i {
    background-color: rgba(235, 135, 213, 0.322);
}
#browse-by-category .browse-category-tiles .title i {
    background-color: rgba(182, 11, 82, 0.658);
}
#browse-by-category .browse-category-tiles .campus i {
    background-color: aqua;
}

.button-event {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.button-event button{
    padding: 8px 15px;
    background-color: rgba(233,30,99,1);
    color: #fff;
    border: transparent;
}

#footer-event {
    background-color: rgb(134, 31, 70);
    padding: 30px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 13px;
}


/* ------------ Event Only CSS ---------- */ 


.home_content {
    background:linear-gradient(rgba(46, 44, 45, 0.349) 100%, rgba(138, 36, 112, 0.726)100%),url("./images/dhvsu.jpg");
    backdrop-filter: blur(8px) !important;
    background-size: cover;
    background-attachment: fixed;
   

}

.event-container {
    display: none;
    background-color:rgba(245, 236, 239, 0.6);
    border: transparent;
    height: auto;
    padding: 20px 40px;
    margin: 50px;
    border-radius: 10px;
    position: relative;
    
}

.home_content .event-container #header {
    margin: 20px auto;
    
}



.home_content .event-container #header h1 {
    border-bottom: 2.5px solid black;
}


.home_content #header img {
    width: 60px;
    height: 60px;
}


.home_content .events-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.home_content .events-menu .back i{
    font-size: 30px;
}


.home_content .events-menu .search-bar {
    display: flex;
    column-gap: 5px;
}

.home_content .events-menu .search-bar i {
    font-size: 35px;
    height: 100%;
    transition: all 0.5 ease;
}

.home_content .events-menu .search-bar input {
    height: 100%;
    border-radius: 8px;
    outline: none;
    border: 2px solid rgba(12, 12, 12, 0.8);
    background-color: transparent;
    padding-left: 10px;
    
}


#events-section p {
    color: rgb(3, 3, 61);
    font-size: 15px;
    cursor: pointer;
}

.home_content .events-menu li {
    list-style-type: none;
}

#events-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto, 500px);
    column-gap: 40px;
    row-gap: 25px;
    
}

#events-section .event {
    padding: 15px;
    border: 1px solid rgb(214, 55, 81);
    background-color: rgba(180, 29, 132, 0.199);
    border-radius: 10px;
    transition: all .5s ease-in-out; 
}

 #events-section .event:hover {
    transform: scale(1.1)
} 


#events-section .event img {
    width: 100%;
    height: 180px;
    
}

/**************  Full details of event  *******************/ 


.container-full-events {
    background-color: #fff;
    padding: 50px 70px;
    margin: 20px; 
    position: relative;
    display: none;

    
}

.container-full-events .exit {
    position: absolute;
    top: 3%;
    right: 5%;
    font-size: 35px;
    font-weight: 700;
    cursor: pointer;
}



.container-full-events .title h1{
    margin-bottom: 10px;
    border-bottom: 3px solid rgb(211, 16, 107);
    font-size: 30px;
    cursor: pointer;
}

.container-full-events  .details-event-tile {
    padding: 30px;
    display: flex;
    gap: 40px;
    width: 100%;
    
}

.container-full-events #photo-section {
    width: 35%;
    border: 5px solid rgb(201, 36, 91);

}


.container-full-events #photo-section .join-event {
    display: flex;
    justify-content: center;
}

.container-full-events #photo-section .join-event input{
    
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
    border: transparent;
    background-color: rgb(196, 44, 69);
    color: white;
    outline: none;
    width: 30%;
}

.container-full-events #photo-section img {
    height: 100%;
    width: 100%;
}

.container-full-events #detail-tiles  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    width: 65%;
    height: 50%;
}

.container-full-events #detail-tiles .tile {
    padding: 5px;
    border-bottom: 1px solid black;
   
}

.container-full-events #detail-tiles .name {
    grid-row: 1/2;
    grid-column: 1/2;
}

.container-full-events #detail-tiles .date {
    grid-column: 1/2;
    grid-row: 2/3;
}
.container-full-events #detail-tiles .campus {
    grid-column: 1/2;
    grid-row: 3/4;
}
.container-full-events #detail-tiles .theme {
    grid-column: 1/2;
    grid-row: 4/5;
}
.container-full-events #detail-tiles .status {
    grid-column: 1/2; 
    grid-row: 5/6;
}
.container-full-events #detail-tiles .min-participants {
    grid-column: 1/2;
    grid-row: 6/7;
}
.container-full-events #detail-tiles .max-participants {
    grid-column: 1/2;
    grid-row: 7/8;
}



.container-full-events #detail-tiles .name_details {
    grid-column: 2/3;
    grid-row: 1/2;
}

.container-full-events #detail-tiles .date_details {
    grid-column: 2/3;
    grid-row: 2/3;
}
.container-full-events #detail-tiles .campus_details {
    grid-column: 2/3;
    grid-row: 3/4;
}
.container-full-events #detail-tiles .theme_details {
    grid-column: 2/3;
    grid-row: 4/5;
}
.container-full-events #detail-tiles .status_details {
    grid-column: 2/3;
    grid-row: 5/6;
}
.container-full-events #detail-tiles .min-participants_details {
    grid-column: 2/3;
    grid-row: 6/7;
}
.container-full-events #detail-tiles .max-participants_details {
    grid-column: 2/3;
    grid-row: 7/8;
}